@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
	font-family: 'Avenir', 'Source Sans Pro';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: inline-block;
  text-align: center;
	overflow-x:hidden;
  #background-image: url(./content/nd-logo.png);
  #background-image: url(./content/img/dgperf-convsol.png);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
	background: rgba(205,201,201,1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
	background: rgba(205,201,201,0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0); 
}

::-webkit-scrollbar-track { background-color: rgba(255,255,255,0); } 

::-webkit-scrollbar-track-piece {
	background-color: rgba(255,255,255,0);
}

body {
	width: 100vw;	
	background: white;
  font: normal 18px "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 8px;
	margin: 0;
}

table#tlayout {
  border: none;
  border-collapse: separate;
  background: white;
	height:10vh;
}

#project-thumb {
  padding-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
	width: 100vw;	
  background: white;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
}

#project-thumb-long {
  padding-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  width: 300vw;
  background: white;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
}

#layout-menu {
	background: #ffffff;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 100%;
	min-width: 10vw;
	max-width: 20vw;
	white-space: nowrap;
  text-align: left;
  vertical-align: top;
	border-right: 1px solid #dddddd;
	height:90vh;
}

#layout-content {
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
  border: none;
	max-width:800px;
	min-width:400px;
  background: white;
  text-align: left;
  vertical-align: top;
	overflow: hidden;
	height:90vh;
	min-height: 500px;
}

#center { margin:0 auto; text-align: center; }

#layout-content div.imgdivcntr {
	display: inline-block;
	padding: 10px;
	font: normal 13px "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	white-space: nowrap;
}

#layout-content div.imgdivcntr img,
#layout-content div.imgdivcntr video {
	display: inline-block;
	margin: 0px 5px 10px 5px;
	vertical-align: middle;
}

#layout-content div.banner { padding:5px; margin:0px; }

#layout-content div.banner h1 {
	font-weight: bold;
	border:none;
	padding:5px;
	margin:0px;
}

/* ===== LINKS ===== */
a, a > tt {
	color: #002D72;
	text-decoration: none;
}

a:hover { border-bottom: 1px gray dotted; }

/* ===== MENU COLORS (HOPKINS BLUE) ===== */
#layout-menu a.current:link, 
#layout-menu a.current:visited {
	color: #002D72;
	border-bottom: 1px gray solid;
}

#layout-menu a:link,
#layout-menu a:visited,
#layout-menu a:hover {
	color: #002D72;
	text-decoration: none;
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

/* ===== HEADINGS (HOPKINS BLUE) ===== */
h1, h2, h3 {
	color: #002D72;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 2vh;
	padding-top: 0.1vh;
	border-bottom: 1px solid #aaaaaa;
}

h1 { font-size: 200%; }
h2 { padding-top: 0.8em; font-size: 120%; }
h3 { font-size: 110%; border-bottom: none; }

p {
  font-size: 95%;
	margin-top: 0.0em;
	margin-bottom: 0.2em;
	padding: 0;
	line-height: 1.3;
  text-align: justify;
}

/* ===== BLOCK TITLES (HOPKINS BLUE) ===== */
div.blocktitle { color: #002D72; }

/* ===== PRINT ===== */
@media print {
	#layout-menu { display: none; }
}

img { border: none; }

object { width:100%; }
